@import "../../UniversalStyles/color.scss";


.item {
    
    position: relative;
    
}

.item img {
    height: 350px;
    width: 100%;

}

.item p {
    font-size: 1.2rem;
    margin: 6px 0px
}

.item-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-price-new {
    color: $currentPrice;
    font-size: 20px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
    cursor: pointer;
}

.rating {
    display: flex;
}


#heart {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
}

#heart.red {
    color: red;
}

.item .viewproduct {
    display: none;
    color: whitesmoke;
    background: rgba(5, 130, 232, 0.614);
    height: 40px;
    // border: solid 1px;
    width: 100%;
    position: absolute;
    top: 71.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    font-size: .9rem;
    word-spacing: .3rem;
    
}

.item:hover .viewproduct {
    display: block; /* Show the viewproduct element on hover */
    
}