@import "../../UniversalStyles/color.scss" ;


.item {
    width: 350px;

}

.item img {
    height: 300px;

}

.item p {
    font-size: 1.2rem;
    margin: 6px 0px
}

.item-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item-price-new {
    color: $currentPrice;
    font-size: 20px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
    cursor: pointer;
}

.rating {
    display: flex;
}