.latersttrends {
    display: flex;
    align-items: center;
    justify-content: center;    
    // border: solid 1px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    
}

.latersttrends .innerdiv {
    // height: 50vh;
    // width: 50vw;
    // border: saddlebrown 1px solid;
    padding: 12px;
    position: relative;
    right: 52px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 999;
    background:white
}

.latersttrends .innerdiv h3 {
    margin-top: 12px;
    margin-bottom: 12px;
}


.latersttrends .innerdiv  img {
    height: 200px;
    border-radius: 8px;
    cursor: pointer;
}

.latersttrends .innerdiv  img:hover {
    transform: scale(1.1);
    transition: .5s ease;
}

.latersttrends .innerdiv .latestimages p {
    color: gray;
}

.latersttrends .latestimages {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

