.label {
    margin-left: 12px
}

.catagory {
    width: 15vw;
}

@media (max-width: 975px) { 
    .catagory {
        display: flex !important;
        width: 100%;
    }
    .kunal {
        display: flex !important;
        width: 100%;
        justify-content: space-between;
    }
}